* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Barlow';
}

:root {
    --main-color: #E61C5D;
    --secndre-color: #112B3C;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 18px 24px;
    background-color: var(--main-color);
    border-radius: 45px;

    border: none;
    color: #fff !important;
}

.container {
    padding: 0 50px;
    margin: auto;
    max-width: 1400px;
}

.container .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container .nav ul {
    display: flex;
}

.container .nav ul li {
    padding-left: 20px;

}

.container .nav ul li a {
    color: #808080;
}



.container .nav ul.menu li a:hover {
    border-bottom: 1px solid var(--main-color);
    padding-bottom: 5px;
    color: #000;
}

/* landing */
.landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
}

.landing .landing-content h2 {
    color: var(--secndre-color);
    font-weight: bold;
    font-size: 64px;
}

.landing .landing-content>p {
    color: #808080;
    font-size: 24px;
    margin: 20px 0;
}

.landing .locatino-date {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    background-color: #fff;
    border-radius: 45px;
    padding: 10px;
    margin: 10px;
}

.landing .locatino-date .location,
.date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing .locatino-date i.fa-magnifying-glass {
    color: #fff;
    font-size: 40px;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 50%;

}

.landing .locatino-date i.fa-calendar-days,
i.fa-location-dot {
    color: var(--main-color);
    font-size: 20px;
}

text .landing .locatino-date i.fa-pipe {
    background-color: #ddd;
    padding: 1px;
    height: 40px;

}

.landing .locatino-date .location .location-,
.date-text {
    padding-left: 10px;
}

.landing .locatino-date .location .location-text h6 {
    color: #808080;
    padding-bottom: 4px;
}

.landing .locatino-date .location .location-text p {
    color: var(--secndre-color);
}

.landing .locatino-date .date .date-text h6 {
    color: #808080;
    padding-bottom: 4px;
}

.landing .locatino-date .date .date-text p {
    color: var(--secndre-color);
}

/* About Us */
.About {
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.About .About-content {
    margin-left: 40px;
}

.About .About-content h6 {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;

}

.About .About-content h2 {

    color: var(--main-color);
    font-weight: bold;
    font-size: 64px;
}

.About .About-content h3 {
    color: var(--secndre-color);
    font-weight: bold;
    font-size: 64px;
}

.About .About-content>p {
    color: #808080;
    font-size: 24px;
    margin: 20px 0;
    line-height: 1.5;
}

.About .About-content .About-insight {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* tour packages  */
.packages {
    padding: 100px 0;
}

.packages .packages-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.packages .packages-title .text {
    max-width: 50%;
}

.packages .packages-title .text p {
    color: var(--main-color);
    font-size: 20px;
    font-weight: bold;
}

.packages .packages-title .text h2 {
    color: var(--secndre-color);
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 80px;
}

.packages .packages-title .icons {
    text-align: center;
}

.packages .packages-title .icons i {
    color: var(--main-color);
    background: rgba(230, 28, 93, 0.04);
    width: 48px;
    padding: 20px;
    border-radius: 50%;
}

.packages-places {
    display: flex;
}

.palces-text {
    padding: 20px 24px;
    max-width: 90%;
    background-color: #fff;
}

.palces-text h4 {
    color: var(--secndre-color);
    font-size: 20px;
    margin-bottom: 10px;
}

.palces-text p {
    color: var(--secndre-color);
    font-size: 14px;
    line-height: 16.8px;
    margin-bottom: 10px;
}

.packages-places i {
    color: #FFBD39;
    margin-bottom: 10px;
}

.palces-text h3 {
    color: var(--main-color);
    font-size: 26px;
}

/* testimonial */

.testimonial-title .text p {
    color: var(--main-color);
    font-size: 20px;
    text-align: center;
}

.testimonial-title .text h2 {
    color: var(--secndre-color);
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 80px;
    text-align: center;
}

.testimonial-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card {
    text-align: center;
    color: var(--secndre-color);
    margin: 0 20px;
    background-color: #fff;
    position: relative;
}

.card::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free";
    position: absolute;
    top: -20px;
    right: 30px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
}


.card .star {
    color: #FFBD39;
    margin: 5px 0;
}

/* tours */
.tours-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tours-title h2 {
    color: var(--secndre-color);
    font-weight: bold;
    font-size: 48px;
    margin: 80px 0px 32px 0px;
    text-align: center;
}

.tours-title p {
    color: #808080;
}

.tours-title .btn {
    margin: 50px 0;
}

.tours-boxs {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: -75px;
}

.tours-boxs h2 {
    color: var(--secndre-color);
    font-size: 18px;
    text-align: center;
}

.tours-boxs p {
    color: var(--main-color);
    text-align: center;
    font-size: 16px;
}

.tours-boxs p span {
    color: #808080;
    font-size: 10px;
    margin-left: 15px;
}


.tours-boxs .box-between {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 275px;
}

.tours-boxs .box-between .box {

    margin: 0 20px;
}

/* footer */
.footer {
    background-color: #fff;
    margin: 100px 0;
}

.footer .container {
    justify-content: space-between;
}

.footer .container .link-inner {
    display: flex;
    justify-content: space-between;

}

.footer .social p {
    margin: 20px 0;
    color: var(--secndre-color);
}

.footer .social i {
    color: var(--main-color);
    margin-right: 10px;
}

.footer h3 {
    color: var(--secndre-color);
    font-size: 18px;
}

.footer li {
    margin-bottom: 20px;
}

.footer a {
    color: var(--secndre-color);
    font-size: 14px;
}

.footer a.email {
    color: #808080;
    font-size: 12px;
}